body {
  font-family: "Helvetica", Sans-Serif;
  background-image: url("./images/background-image.jpeg");
}

a {
  color: #112d4e; 
}

.profile-small {
  height: 150px;
  border-radius: 50%;
  border: 10px solid #FEDE00;
}